name: mobile - EAS Update

on:
  # # on changes to versions.json in main branch
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - 'versions.json'
  
  # manual execution
  workflow_dispatch:

jobs:
  update:
    name: EAS Update
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./mobile
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Setup EAS
        run: npm install -g eas-cli

      # extract info from versions.json and set env variables
      - name: Extract Update Info
        id: extract_info
        run: |
          # extract native version from versions.json (latest one)
          NATIVE_VER=$(jq -r '.versions[0].nativeVersion' versions.json)
          
          # extract date of the latest update
          DATE=$(jq -r '.versions[0].updates[0].date' versions.json)
          
          echo "NATIVE_VER=$NATIVE_VER" >> $GITHUB_ENV
          echo "UPDATE_MSG=$NATIVE_VER:$DATE" >> $GITHUB_ENV
          
          echo "Target Native Ver: $NATIVE_VER"

      # execute EAS Update
      - name: Publish Update
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
          APP_VERSION: ${{ env.NATIVE_VER }}
        run: |
          eas update --branch production --message "${{ env.UPDATE_MSG }}" --non-interactive